
@{
    ViewBag.Title = "FAQ";
}
<div class="FAQpageBackground">
    <h1> Cakes-R-Us FAQ</h1>
</div>

    <div class="container accordionFAQ">
        <div class="col-sm-6 col-sm-offset-3 @*wow fadeInDown employee*@">
            <!--<div class="col-sm-offset-6 col-sm-6 wow fadeInDown" style="text-align:right;">-->
            <div class="accordion">
                <div class="panel-group" id="accordion1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                                    Can I make money?
                                    <i class="fa fa-arrow-down pull-right"></i>
                                </a>
                            </h3>
                        </div>

                        <div id="collapseOne1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="media accordion-inner">
                                    <div class="pull-left">
                                        @*<img class="img-responsive" src="~/Content/images/laptop_cropped.jpg">*@
                                    </div>
                                    <div class="media-body">
                                        <!--<h4></h4>-->
                                        <p>Absolutely!! It will take time to get your name out but if you do quality work you can make money</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                                    Is it expensive to get started?
                                    <i class="fa fa-arrow-down pull-right"></i>
                                </a>
                            </h3>
                        </div>
                        <div id="collapseTwo1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li>
                                        You can get started with just a few decorating tips and bags
                                    </li>
                                    <li>
                                        As your skills grow you will want different equipment to make your work go quicker or allow you to do fancier things
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                                    Do I need a lot of storage space?
                                    <i class="fa fa-arrow-down pull-right"></i>
                                </a>
                            </h3>
                        </div>
                        <div id="collapseThree1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li>
                                        As your first get started you will only need a small briefcase / suitcase to hold your supplies
                                    </li>
                                    <li>
                                        As your skills grow you will want more pans and equipment such as an airbrush etc. storage space can become an issue.
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div><!--/#accordion1-->
            </div>
        </div>
        <!--</div><!--/.row -->
    </div><!--/.container-->


